<div class="card" style="width: 90%;max-width:500px;margin: 50px auto;padding:100px 20px 20px 20px;position:relative;" id="form">
  <h1 class="cardTitle" style="">Welcome {{ am.name }}</h1>
  <li><mat-icon>alternate_email</mat-icon>{{ am.email }}</li>
  <div style="text-align: center;margin-top:30px">
    <button mat-flat-button color="primary" style='width:300px;text-align:center;' (click)="amLogin()">Doctors List</button>
  </div>
  <div style="text-align: center;margin-top:30px">
    <button mat-flat-button color="primary" style='width:300px;text-align:center;' (click)="amLogin()">Teams Creation</button>
  </div>
  <div style="text-align: center;margin-top:30px">
    <button mat-flat-button color="primary" style='width:300px;text-align:center;' (click)="amLogin()">Notifications</button>
  </div>
</div>
