li{
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  list-style-type: none;
  padding-left: 60px;
  margin: 10px auto;
  background: #eee;
  font-weight: 400;
  color: #555;
  border-radius: 25px;
}

li mat-icon{
  position: absolute;
  display: block;
  font-size: 30px;
  margin-right: 20px;
  left:20px;
  top:50%;
  margin-top: -15px;
}
::ng-deep .mat-tab-label{
  color: #fff!important;
  opacity: 1!important;
}
::ng-deep .mat-tab-label-active{
  color: #ffc832 !important;
  opacity: 1!important;
}
::ng-deep .mat-ink-bar{
  background-color: #ffc832 !important;
}
.dialogTable{
  border-collapse: collapse;
  width: 100%;
}
.dialogTable td, th{
  // background: #666;
  padding: 30px 10px 10px 10px;
  color:#666;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
